<!DOCTYPE html>
<html>
    <head>
        <!-- Browser title -->
        <title>
            Registrar's Office Class Search
        </title>

    </head>
    <body>
        <!-- Registrar's Office Heading -->
        {% include 'header.html'}

        <!-- Search Form -->
        <h2>Class Search</h2>

        <form action="/classoverviews" method="get">
            Dept:
            <input id="deptInput" type="text" name="dept" value="{{dept}}" autofocus>
            <br>
            Course Number:
            <input id="courseNumInput" type="text" name="number" value="{{number}}">
            <br>
            Area:   
            <input id="areaInput" type="text" name="area" value="{{area}}">
            <br>
            Title:
            <input id="titleInput" type="text" name="title" value="{{title}}">
            <br>
            <input id="submitButton" type="submit" value="Go">
        </form>
        <br>

        <!-- If there are no courses: -->
        {% if classes|length == 0: %}
            (None)

        <!-- Otherwise, print table -->
        {% else %}
           <table id="overviewsTable">
            <thead>
                <tr>
                    <td>ClassId</td>
                    <td>Dept</td>
                    <td>Course Number</td>
                    <td>Area</td>
                    <td>Title</td>
                </tr>
            </thead>

            {% for course in overviews %}
            <tr>
                <td><a href="/regdetails?classid={{ course.classid }}">{{ course.classid }}</a></td>
                <td>{{ course.dept }}</td>
                <td>{{ course.coursenum }}</td>
                <td>{{ course.area }}</td>
                <td>{{ course.title }}</td>
            </tr>
            {% endfor %}
            </table>
        {% endif %}
        
        <!-- Created by Mohemeen Ahmed & Amel Osman footer-->
        {% include 'footer.html' %}
    </body>
</html>