<!DOCTYPE html>

<html>
    <head>
        <!-- Browser title -->
        <title>
            Registrar's Office Class Details
        </title>

    </head>

    <body>
        <!-- Registrar's Office Heading -->
        {% include 'header.html' %}

       
        <!-- Return to previous search page -->
        <p>Click here to do <a href="/classoverviews">another class search</a></p>

        <!-- Created by Mohemeen Ahmed & Amel Osman footer-->
        {% include 'footer.html' %}
    </body>
</html>